<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>123.rectangle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>MY_LOTTERY_SHORTCUT_TITLE</string>
			<key>UIApplicationShortcutItemType</key>
			<string>myLottery</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>list.bullet.clipboard</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>SUMMARY_SHORTCUT_TITLE</string>
			<key>UIApplicationShortcutItemType</key>
			<string>summary</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>1.magnifyingglass</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>PRIZE_RESULT_SHORTCUT_TITLE</string>
			<key>UIApplicationShortcutItemType</key>
			<string>result</string>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
		<key>UIImageName</key>
		<string>LaunchScreenImage</string>
	</dict>
</dict>
</plist>
